@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap");

/* font-family: 'Exo 2', sans-serif; */

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT/FuturaPT-Medium.eot");
  src: local("Futura PT Medium"), local("FuturaPT-Medium"),
    url("../fonts/FuturaPT/FuturaPT-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/FuturaPT/FuturaPT-Medium.woff") format("woff"),
    url("../fonts/FuturaPT/FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT/FuturaPT-Bold.eot");
  src: local("Futura PT Bold"), local("FuturaPT-Bold"),
    url("../fonts/FuturaPT/FuturaPT-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/FuturaPT/FuturaPT-Bold.woff") format("woff"),
    url("../fonts/FuturaPT/FuturaPT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  margin: 0;
  min-height: 100vh;
  font-family: "Futura PT";
}
h1 {
  margin: 0;
  font-size: 52px;
  line-height: 62px;
  font-weight: bold;
  color: #212529;
}
h2 {
  margin: 0;
  font-size: 48px;
  line-height: 62px;
  font-weight: bold;
  color: #212529;
}
.btn {
  display: inline-block;
  padding: 10px 54px;
  background: linear-gradient(180deg, #27214a 0%, rgba(118, 110, 162, 0) 100%),
    #27214a;
  box-shadow: 0px 0px 15px rgba(72, 72, 76, 0.25);
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition-duration: 0.4s;
}
.btn:focus,
.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24) inset,
    0 17px 50px 0 rgba(0, 0, 0, 0.19) inset;
}
.btn:active {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

main {
  grid-area: main;
}

/*-----Header, menu------*/
header {
  position: relative;
  grid-area: header;
  height: 800px;
}
.header-btn {
  position: absolute;
  top: 20px;
  right: 8%;
  display: flex;
}
.call-us {
  height: 60px;
  margin-right: 30px;
  font-size: 26px;
  line-height: 33px;
  padding: 13px 30px;
}
.call-us img {
  vertical-align: middle;
}
.menu-button {
  width: 60px;
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 10;
}
.menu-btn {
  position: absolute;
  margin-top: 28px;
  margin-left: 13px;
  display: block;
  width: 33px;
  height: 3px;
  background-color: #48484c;
  border: none;
  cursor: pointer;
  outline: none;
}
.menu-btn:before {
  content: "";
  position: absolute;
  display: block;
  width: 33px;
  height: 3px;
  background-color: #48484c;
  margin-top: -8px;
  transition: transform 0.2s;
}
.menu-btn:after {
  content: "";
  position: absolute;
  display: block;
  width: 33px;
  height: 3px;
  background-color: #48484c;
  margin-top: 8px;
  transition: transform 0.2s;
}
.menu-btn-active {
  height: 0;
}
.menu-btn-active:before {
  transform: rotate(45deg);
  margin-top: 0;
}
.menu-btn-active:after {
  transform: rotate(-45deg);
  margin-top: 0;
}
.menu {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  width: 50vw;
  height: 50vh;
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.menu a {
  text-decoration: none;
  display: block;
  font-size: 20px;
  text-transform: uppercase;
}
.menu-active {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 80px;
}
/*-----Header-slider----*/
.header-slider {
  position: absolute;
  top: 0;
  width: 100%;
  height: 800px;
  background-image: url(../image/header.png);
  background-size: cover;
  background-position: 60% 100%;
  background-repeat: no-repeat;
  z-index: -1;
}
.header-slider_page {
  margin-top: 340px;
  margin-left: 8%;
  width: 50%;
}
.header-slider_page p {
  padding-bottom: 30px;
  font-size: 28px;
  line-height: 36px;
  color: #454547;
}
.btn-slaider {
  margin-top: 70px;
}
.btn-slaider a {
  cursor: pointer;
  margin-right: 20px;
}

/*------About us-----*/
.about-us {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 120px 8%;
}
.about-us > * {
  flex: 1 1 570px;
}
.about-img {
  width: 100%;
}
.about-us-text {
  margin-left: 50px;
  font-size: 18px;
  line-height: 28px;
  color: #434040;
}
.about-us-text p {
  margin-bottom: 30px;
}
.about-us span {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  vertical-align: middle;
  color: #454547;
}

/*------Services----*/
.services {
  padding: 0 7%;
}
.services h2 {
  margin-left: 30px;
}
.wrapper-services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 120px;
}
.wrapper-services > * {
  flex: 1 1 auto;
  margin-bottom: 30px;
  margin-left: 30px;
}
.serv {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 370px;
  height: 320px;
  box-shadow: 0px 0px 15px rgba(67, 64, 64, 0.25);
  border-radius: 10px;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
}
.serv-info {
  width: 600px;
  background: linear-gradient(180deg, #27214a 0%, rgba(118, 110, 162, 0) 100%),
    #27214a;
  background-image: url(../image/info.png);
  background-repeat: no-repeat;
  background-position: right;
}
.serv-safety {
  width: 600px;
  background: linear-gradient(180deg, #225238 0%, rgba(61, 140, 98, 0) 100%),
    #225238;
  background-image: url(../image/safety.png);
  background-repeat: no-repeat;
  background-position: right;
  align-items: flex-start;
}
.serv-labor {
  width: 380px;
  padding-left: 190px;
  padding-right: 50px;
  background: linear-gradient(180deg, #467992 0%, rgba(255, 255, 255, 0) 100%),
    #467992;
  background-image: url(../image/labor.png);
  background-repeat: no-repeat;
  background-position: left;
  align-items: flex-start;
}
.serv-calc {
  width: 380px;
  padding-left: 190px;
  padding-right: 50px;
  background: linear-gradient(180deg, #a67b49 0%, rgba(233, 195, 152, 0) 100%),
    #a67b49;
  background-image: url(../image/calc.png);
  background-repeat: no-repeat;
  background-position: left;
}
.serv-marketing {
  width: 380px;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 180px;
  padding-top: 150px;
  background: linear-gradient(180deg, #462027 0%, rgba(153, 89, 100, 0) 100%),
    #462027;
  background-image: url(../image/marketing.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 50%;
}
.serv-manager {
  width: 600px;
  padding-left: 370px;
  padding-right: 50px;
  background: #1d3a3a;
  background-image: url(../image/management.png);
  background-repeat: no-repeat;
  background-position: left;
}
.serv-next {
  width: 600px;
  padding-left: 370px;
  padding-right: 50px;
  background: linear-gradient(180deg, #617781 0%, rgba(255, 255, 255, 0) 100%),
    #617781;
  background-image: url(../image/next.png);
  background-repeat: no-repeat;
  background-position: left;
  align-items: flex-start;
}
.serv-vector {
  position: absolute;
  top: 103px;
  right: 0;
}
.serv-vector-left {
  left: 0;
}

/*------Advantages------*/
.advantages {
  padding: 0 8%;
  text-align: center;
}
.wrapper-adv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
  text-align: left;
}
.card-adv {
  margin-bottom: 30px;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 500px;
  height: 181px;
  box-shadow: 0px 0px 20px rgba(206, 206, 206, 0.7);
  border-radius: 10px;
  font-size: 28px;
  line-height: 36px;
  color: #434040;
}
.card-adv_img {
  margin: 0 40px;
  vertical-align: middle;
}
.card-adv_text {
  flex-grow: 1;
}

/*------Contacts------*/
.contacts {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(180deg, #27214a 0%, rgba(118, 110, 162, 0) 100%),
    #27214a;
  box-shadow: 0px 0px 15px rgba(67, 64, 64, 0.25);
  background-image: url(../image/Vector.svg);
  background-repeat: no-repeat;
  background-position: bottom 50px right -170px;
}
.contacts > * {
  flex: 1 1 450px;
}
.location {
  margin: 80px 8% 0;
  padding: 80px 70px;
  width: 100%;
  max-width: 731px;
  height: 418px;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  font-size: 24px;
  line-height: 31px;
  color: #434040;
}
.location h2 {
  margin-bottom: 30px;
}
.consultation {
  margin: 80px 8%;
  color: #ffffff;
}
.consultation h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
}
.form-group {
  position: relative;
  margin-bottom: 32px;
}
.form-label {
  position: absolute;
  top: -10px;
  left: 0;
  font-size: 18px;
  line-height: 28px;
  transition: 0.3s;
}
.form-label-area {
  display: block;
}
.form-control {
  width: 100%;
  max-width: 457px;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  outline: none;
  color: #ffffff;
  transition: 0.3s;
  z-index: 10;
}
.form-control:focus ~ .form-label,
.form-control:not(:placeholder-shown) ~ .form-label {
  top: -30px;
  font-size: 12px;
  color: rgba(206, 206, 206, 0.7);
}
.form-area {
  margin-top: 16px;
  width: 100%;
  max-width: 457px;
  height: 92px;
  border: 1px solid #ffffff;
  background: linear-gradient(180deg, #27214a 0%, rgba(118, 110, 162, 0) 100%),
    #27214a;
  outline: none;
  color: #ffffff;
}
.btn-primary {
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  font-size: 18px;
  line-height: 23px;
  color: #434040;
}

/* -----Map--------- */
.map {
  width: 100%;
  height: 386px;
}
/* -----Footer------ */
footer {
  grid-area: footer;
  background: linear-gradient(180deg, #49484c 0%, rgba(127, 125, 131, 0) 100%),
    #49484c;
  color: #ffffff;
  padding-bottom: 50px;
}
.list-services {
  width: 65%;
}
.list-services ul {
  margin: 30px 0 0 0;
  padding: 0;
  -moz-column-count: 2; /* Firefox */
  -webkit-column-count: 2; /* Safari and Chrome */
  column-count: 2;
  list-style-type: none;
  /* height: 168px; */
  width: 100%;
}
.list-services li {
  margin-bottom: 18px;
}
.list-services li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.wrap {
  margin-top: 54px;
  padding: 0 8%;
  display: flex;
  justify-content: space-between;
}
.social {
  align-self: flex-end;
  padding-bottom: 15px;
  padding-left: 10px;
}
.social a {
  margin-left: 5px;
}
.to-top {
  display: none;
  width: 69px;
  height: 69px;
  background-image: url(../image/to-top.svg);
  position: fixed;
  right: 59px;
  bottom: 69px;
  margin-left: -34px;
  opacity: 0.5;
  z-index: 11;
}
.to-top:hover,
.to-top:focus {
  opacity: 1;
}
@media (max-width: 1200px) {
  .about-us,
  .services,
  .advantages {
    padding-left: 1%;
    padding-right: 1%;
  }
  .header-slider_page,
  .about-us-text {
    margin-left: 5%;
  }
  .about-us-text {
    order: -1;
  }
  .services {
    padding-right: 2%;
  }
  .wrap {
    display: block;
  }
  .social {
    padding-top: 50px;
    text-align: center;
  }
  .list-services {
    width: auto;
  }
  .header-slider_page {
    width: 55%;
  }
  .btn-slaider {
    margin-top: 35px;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 42px;
  }
  .serv {
    font-size: 22px;
  }

  .card-adv {
    font-size: 18px;
    line-height: 23px;
  }
  .header-slider_page {
    width: 70%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 40px;
  }
  header,
  .header-slider {
    height: 100vh;
  }
  .serv {
    font-size: 20px;
  }
  .header-slider_page {
    margin-top: 50vh;
    width: 80%;
  }
  .card-adv {
    flex: 1 1 320px;
    margin-left: 0;
  }
  .menu {
    width: 100vw;
    height: 100vh;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 38px;
  }
  .serv {
    font-size: 18px;
  }
  .call-us {
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  .call-us {
    font-size: 16px;
    padding: 13px 5px;
  }
}
